<%= render "shared/header" %>
<div class="row">
  <div class="ml-auto mr-auto">
    <h2>Edição de Serviços</h2>
  </div>
</div>
<div class="row">
  <%= render partial: 'form', locals: { button: 'Editar Serviço' }%>
</div>